@{
    ViewData["Title"] = "Licença";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto está licenciado sob a Creative Commons Attribution-NonCommercial 4.0 International License (CC BY-NC 4.0).</p>

<p>
    <b>Você pode:</b>
    <ul>
        <li>Compartilhar: copiar e redistribuir o material em qualquer meio ou formato.</li>
        <li>Adaptar: remixar, transformar, e construir sobre o material.</li>
    </ul>

    <b>Sob as seguintes condições:</b>
    <ul>
        <li>Atribuição: Você deve dar crédito apropriado, fornecer um link para a licença e indicar se mudanças foram feitas. Você pode fazer isso de qualquer maneira razoável, mas não de uma forma que sugira que o licenciante endossa você ou seu uso.</li>
        <li>Não Comercial: Você não pode usar o material para fins comerciais.</li>
    </ul>
</p>

<p>Para mais detalhes, veja o texto completo da licença em <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode.txt">Creative Commons BY-NC 4.0</a>.</p>