@{
    ViewData["Title"] = "Meus Animais";
}

<div class="text-center">
    <h1 class="display-4">Meus Animais</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 my-4">
    <div class="col">
        <div class="card text-center rounded-card" style="width: 18rem;">
            <img src="/img/animals/picture_animal.png" class="rounded-img card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Totó</h5>
                <h6 class="text-muted">Espécie: Cachorro</h6>
                <h6 class="text-muted">Raça: SRD</h6>
                <h6 class="text-muted">Idade: 2 anos</h6>
                <a href="#" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
</div>
